{% extends 'learning_logs/base.html' %} {% block page_header %}
<h1>Generation</h1>
{% endblock page_header %} {% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Button Example</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    />
    <style>
      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh; /* Adjust the height to make buttons 15% higher */
      }
      .button-container .btn-generate-image {
        background-color: #28a745;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div
        class="row justify-content-center align-items-center"
        style="min-height: 100vh"
      >
        <div class="col-md-6">
          <div class="text-center" style="margin-top: -40%">
            <button
              type="button"
              class="btn btn-success btn-lg"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
            >
              GENERATE
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header text-center align-items-center">
            <h5 class="modal-title w-100" id="myModalLabel">
              Randomized Prompt
            </h5>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>This is the content of the dialog box.</p>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">New Prompt</button>
            <button type="button" class="btn btn-success">Create Image</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
